<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Proiect PSBD</title>
    <script src="../../Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular.min.js" type="text/javascript"></script>
    <!-- Angular Material -->
    <script src="../../Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-aria.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-messages.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-material.min.js" type="text/javascript"></script>

    <script src="../../Scripts/Controllers/BookingController.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/site.css">
</head>
<body>
    <div class="container" ng-app="bookingModule">
        <div class="col-md-12">
            <div class="col-md-3 logo">
            </div>
            <div class="col-md-9 banner">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 sideBar">
                <div class="col-md-3 sideBarBtn home">
                    <a href="Index.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-home"><span class="menuText">&nbsp;Home</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn booking">
                    <a href="Booking.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-plane"><span class="menuText">&nbsp;Reservation</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn payment">
                    <a href="Payment.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-euro"><span class="menuText">&nbsp;Payment</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn cancel">
                    <a href="CancelBooking.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-trash"><span class="menuText">&nbsp;Cancel ticket</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn update">
                    <a href="Update.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-edit"><span class="menuText">&nbsp;Update booking</span></span>
                    </a>
                </div>
            </div>
            <div class="col-md-9 content" ng-controller="BookingController">
                <h1 class="contentHeader">Reservation</h1>
                <div class="col-md-12" ng-show="firstStep()">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <h4>Selectati cursa: </h4>
                        </div>
                        <div class="col-md-9">
                            <select name="flightSelect" ng-model="selectedFlight">
                                <option ng-repeat="flight in flightList" value="{{flight.id_avion}}">{{flight.oras_plecare}} - {{flight.oras_sosire}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <h4>Selectati data: </h4>
                        </div>
                        <div class="col-md-9">
                            <md-datepicker ng-model="dataPlecare" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3"><input type="checkbox" name="dusIntors" value="dusIntors" ng-model="retur"> Dus-Intors<br></div>
                    </div>
                    <div class="col-md-12" ng-show="dusIntors()">
                        <div class="col-md-3">
                            <h4>Selectati data: </h4>
                        </div>
                        <div class="col-md-9">
                            <md-datepicker ng-model="dataRetur" md-placeholder="Enter date" md-min-date="dataPlecare" md-max-date="maxDate"></md-datepicker>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3"><button class="btn btn-default searchBtn" ng-click="goToStepTwo()"><span class="glyphicon glyphicon-search">Cauta</span></button></div>
                    </div>
                </div>
                <div class="col-md-12" ng-show="secondStep()">
                    <div class="col-md-12">
                        <h3>Detalii despre cursa: </h3>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">Plecare: </div>
                        <div class="col-md-9">{{detaliiCursa.oras_plecare}}</div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">Sosire: </div>
                        <div class="col-md-9">{{detaliiCursa.oras_sosire}}</div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">Pret: </div>
                        <div class="col-md-9">{{detaliiCursa.pret}}</div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">Numar de locuri: </div>
                        <div class="col-md-9">{{+detaliiCursa.nr_loc_ec + +detaliiCursa.nr_loc_bs}} ({{detaliiCursa.nr_loc_ec}} economic, {{detaliiCursa.nr_loc_bs}} business)</div>
                    </div>
                    <div class="col-md-12">
                        <h3>Detalii rezervare: </h3>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Nume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="rezervare.nume" placeholder="Nume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Prenume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="rezervare.prenume" placeholder="Prenume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            CNP:
                        </div>
                        <div class="col-md-9">
                            <input type="number" ng-model="rezervare.cnp" placeholder="Cod numeric personal">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Numal de locuri:
                        </div>
                        <div class="col-md-9">
                            <input type="number" ng-model="rezervare.nrLoc" placeholder="Numar de locuri">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default" ng-click="setBookingDetails()">Detalii bilet(e)</button>
                    </div>
                    <div ng-show="ticketDetails()">
                        <div class="col-md-12" ng-repeat="bilet in bilete track by $index">
                            <div class="col-md-12">
                                <strong>{{$index + 1}}.</strong>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Nume:
                                </div>
                                <div class="col-md-9">
                                    <input type="text" ng-model="bilete[$index].nume" placeholder="Nume" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Prenume:
                                </div>
                                <div class="col-md-9">
                                    <input type="text" ng-model="bilete[$index].prenume" placeholder="Prenume" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    CNP:
                                </div>
                                <div class="col-md-9">
                                    <input type="number" ng-model="bilete[$index].cnp" placeholder="Cod numeric personal" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Loc:
                                </div>
                                <div class="col-md-9">
                                    <!--<input type="text" ng-model="bilete[$index].numarLoc" placeholder="Numar loc" />-->
                                    <select ng-model="bilete[$index].loc"
                                            ng-options="item.loc+item.tip+item.pozitie for item in listaBilete">
                                        <option value="">Selecteaza bilet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Reducere copii:
                                </div>
                                <div class="col-md-9">
                                    <input type="checkbox" ng-model="bilete[$index].reducere" />
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-succes" ng-click="saveBooking()">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
