<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Primarie Test Project</title>
    <script src="../../Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular.min.js" type="text/javascript"></script>

    <script src="../../Scripts/Controllers/UpdateController.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/site.css">

</head>
<body>
    <div class="container" ng-app="updateModule">
        <div class="col-md-12">
            <div class="col-md-3 logo">
            </div>
            <div class="col-md-9 banner">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 sideBar">
                <div class="col-md-3 sideBarBtn home">
                    <a href="Index.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-home"><span class="menuText">&nbsp;Home</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn booking">
                    <a href="Booking.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-plane"><span class="menuText">&nbsp;Reservation</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn payment">
                    <a href="Payment.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-euro"><span class="menuText">&nbsp;Payment</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn cancel">
                    <a href="CancelBooking.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-trash"><span class="menuText">&nbsp;Cancel ticket</span></span>
                    </a>
                </div>
                <div class="col-md-3 sideBarBtn update">
                    <a href="Update.html" class="btn btn-default customBtn">
                        <span class="glyphicon glyphicon-edit"><span class="menuText">&nbsp;Update booking</span></span>
                    </a>
                </div>
            </div>
            <div class="col-md-9 content" ng-controller="UpdateController">
                <h1 class="contentHeader">Update</h1>
                <div class="col-md-12" ng-show="firstStep()">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Nume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="bookingFilter.nume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Prenume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="bookingFilter.prenume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            CNP:
                        </div>
                        <div class="col-md-9">
                            <input type="number" ng-model="bookingFilter.cnp">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default searchBtn" ng-click="getBookingList()"><span class="glyphicon glyphicon-search">Cauta</span></button>
                    </div>
                </div>
                <div class="col-md-12" ng-show="secondStep()">
                    <div class="col-md-12" ng-repeat="booking in bookingList">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                {{booking.oras_plecare}} - {{booking.oras_sosire}}, {{booking.data_plecare}}, {{booking.nrLocuri}} loc(uri).
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning payBtn" ng-click="edit(booking.id)"><span class="glyphicon glyphicon-edit">Editeaza</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default backBtn" ng-click="back()"><span class="glyphicon glyphicon-arrow-left">Inapoi la filtrul de cautare</span></button>
                    </div>
                </div>
                <div class="col-md-12" ng-show="thirdStep()">
                    <h2>Detalii rezervare</h2>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Nume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="reservationDetails.nume" value="reservationDetails.nume" placeholder="Nume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Prenume:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="reservationDetails.prenume" value="reservationDetails.prenume" placeholder="Prenume">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            CNP:
                        </div>
                        <div class="col-md-9">
                            <input type="text" ng-model="reservationDetails.cnp" value="reservationDetails.cnp" placeholder="CNP">
                        </div>
                    </div>
                    <h2>Detalii bilete</h2>
                    <hr />
                    <div class="col-md-12" ng-repeat="bilet in bilete track by $index">
                        <div class="col-md-12">
                            <strong>{{$index + 1}}.</strong>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                Nume:
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="reservationDetails.tickets[$index].nume" value="reservationDetails.tickets[$index].nume" placeholder="Nume">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                Prenume:
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="reservationDetails.tickets[$index].prenume" value="reservationDetails.tickets[$index].prenume" placeholder="Prenume">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                CNP:
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="reservationDetails.tickets[$index].cnp" value="reservationDetails.tickets[$index].cnp" placeholder="CNP">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-succes payBtn" ng-click="submit()"><span class="glyphicon glyphicon-ok">Salveaza</span></button>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default backBtn" ng-click="back()"><span class="glyphicon glyphicon-arrow-left">Inapoi la filtrul de cautare</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
